* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Font */
    --font: 'Fredoka One', cursive;

    /* Colores */
    --blanco: #FBFBFF;
    --azul: #4FC1F3;
    --rosa: #FF6398;
    --gris-claro: #717B84;
    --gris-oscuro: #2E2E2E;
    --linear: linear-gradient(to bottom, rgba(50 50 50 / 0.2), rgba(100 100 100 / 0.2));

    scroll-behavior: smooth;
}

body {
    font-family: var(--font);
    background: var(--blanco);
    background-size: cover;
    color: var(--gris-oscuro);
    font-weight: 400;
    min-width: 320px;
}

/* Contenedor */
.container {
    max-width: 2000px;
    margin: 0 auto;
}

/* Chispas */
/* .header,
.footer {
    background: url(/assets/image/chispas-bg.png) center center / cover no-repeat;
} */

/* Header */
.header {
    padding: 1em;
}

/* Contenido del header */
.header__content {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 24px;
    grid-auto-rows: max-content;
    place-items: center;
    row-gap: .5em;
}

/* Logo */
.logo {
    display: inline-block;
    width: 100%;
    max-width: 200px;
    background: var(--blanco);
    border-radius: 50%;
}

/* IMG de Logo */
.logo__img {
    width: 100%;
}

/* Padding left para Logo y List Social*/
.logo:first-of-type,
.list--social:first-of-type {
    padding-left: 1em;
}

/* Nav del menu mobile */
.header__nav--menu {
    align-self: start;
}

/* Nav desktop */
.header__nav--desktop {
    display: none;
}

/* Icono menu mobile */
.header__icon {
    position: absolute;
    right: 5%;
    z-index: 100;
}

/* Listas */
.list {
    display: none;
}

/* Lista de redes */
.list--social {
    display: flex;
    gap: 1em;
}

/* Modificador para el menú mobile */
.list--menu {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5em;
    background: var(--gris-oscuro);
    transition: transform .3s ease;
    transform: translate(0, -100%);
}

/* Modificador para mostrar el menú mobile*/
.list--menu-show {
    transform: translate(0, 0);
}

/* List item */
.list__item {
    list-style: none;
}

/* List link */
.list__link {
    text-decoration: none;
    cursor: pointer;
}

.list__link:active {
    text-decoration: underline;
}

/* Links del menu */
.list__link--menu {
    color: var(--blanco);
    text-transform: uppercase;
}

/* Span */
.span {
    color: var(--rosa);
}

/* Hero */
.hero {
    height: 100vh;
    /* linear-gradient(to bottom, rgba(79 193 243 / .2), rgba(255 99 152 / 0.2)) */
    background: linear-gradient(to bottom, rgba(50 50 50 / 0.2), rgba(100 100 100 / 0.2)), url(/assets/image/hero-mobile.png) center center / cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.5em;
}

/* H1 del Hero*/
.hero__h1 {
    font-size: 1.9em;
    color: var(--blanco);
    text-shadow: 2px 5px 10px rgb(0 0 0 / .5);
    letter-spacing: 1.5px;
    font-weight: inherit;
}

/* IMG del Hero */
.hero__img {
    width: 100%;
    max-width: 60px;
    transform: rotate(360deg);
    animation: mover 1.5s ease-out infinite alternate-reverse,
        rotar 1s 5s 1 ease;
}

/* SPAN del hero */
.span--hero {
    color: var(--azul);
    /* text-shadow: none; */
}

/* Animación */
@keyframes mover {
    to {
        transform: translate(0, 0);
    }

    from {
        transform: translate(0, -50%);
    }
}
/* Sección Nos especializamos */
.nos-especializamos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    margin: 1em 0;
    padding: 2em 1em;
    background: var(--rosa);
}

/* IMG de Nos especializamos */
.nos-especializamos__img {
    display: none;
    width: 100%;
    max-width: 350px;
    border-radius: 30px;
}

/* CONTENEDOR DE TEXTOS de Nos especializamos*/
.nos-especializamos__texts {
    text-align: center;
    color: var(--blanco);
}

/* H2 de Nos especializamos */
.nos-especializamos__h2 {
    font-size: 1.9em;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: .5em;
}

/* PÁRRAFO de Nos especializamos */
.nos-especializamos__p {
    line-height: 1.5;
    font-size: 1em;
}

/* Menú */
.menu {
    text-align: center;
}

/* TÍTULO de Menú */
.menu__title {
    width: 100%;
    padding: 1em;
    background: var(--azul);
    color: var(--blanco);
    margin-bottom: 2.5em;
}

/* H2 de Menú */
.menu__h2 {
    color: var(--blanco);
    font-weight: inherit;
    letter-spacing: 1px;
    text-decoration: underline;
}

/* Grid container del Menú*/
.menu__grid-container {
    display: grid;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5em;
    grid-template-columns: 1fr;
    grid-auto-rows: max-content;
    row-gap: 2em;
}

/* Producto de Menú */
.menu__producto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    grid-column: 1 / -1;
}

/* IMG de Producto de Menú */
.menu__img {
    width: 100%;
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
    border-radius: 30px;
}

.menu__img--order {
    order: 2;
}

/* Contenedor textos de Producto de Menú */
.menu__producto-texts {
    max-width: 400px;
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

/* H2 de Producto de Menú */
.menu__h2--producto {
    color: var(--azul);
    text-decoration: none;
}

/* Párrafo de Producto de Menú */
.menu__p {
    padding: 0 1em;
    line-height: 1.2;
}

/*  Párrafo del Precio de producto del Menú */
.menu__p--precio {
    display: inline-block;
    width: fit-content;
    margin: 0 auto;
    margin-top: 1em;
    font-size: 1.4em;
    color: var(--rosa);
    border-top: 1px solid var(--rosa);
    border-bottom: 1px solid var(--rosa);
    ;
}

/* Botón del Menú */
.menu__boton {
    display: inline-block;
    margin: 3em 0;
    padding: 1em 2.5em;
    background: var(--azul);
    color: var(--blanco);
    border-radius: 30px;
    text-decoration: none;
    cursor: pointer;
    transition: background .2s ease;
}

.menu__boton:active {
    text-decoration: underline;
}

.menu__boton:hover {
    background: var(--rosa);
}

/* Footer */
.footer {
    padding: 1.5em 1em;
    text-align: center;
}

/* Contenido del Footer */
.footer__content {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: max-content;
    place-content: center;
    place-items: center;
    row-gap: 1em;
}

/* Linea parte superior del Footer */
.footer__hr {
    width: 100%;
    margin: 0 auto;
    background: var(--gris-claro);
}

/* Contenedor cualquiera de Footer */
.footer__container {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
    background: var(--blanco);
}

/* H3 de Footer */
.footer__h3 {
    font-size: 1.2em;
    font-weight: inherit;
}

/* List de Footer */
.list--footer {
    display: block;
}

/* List item */
.list__item--footer:first-of-type {
    margin-bottom: 1em;
}

/* List link */
.list__link--footer {
    color: var(--rosa);
    text-decoration: none;
    font-size: 1.1em;
}

/* Botón de Footer */
.footer__boton {
    display: inline-block;
    margin: 1.5em 0;
    padding: .5em 3.5em;
    background: var(--azul);
    color: var(--blanco);
    border-radius: 30px;
    text-decoration: none;
    cursor: pointer;
    transition: background .2s ease;
}

.footer__boton:active {
    text-decoration: underline;
}

.footer__boton:hover {
    background: var(--rosa);
}

/* Nav de Footer */
.footer__nav {
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

/* Tablet y Desktop */
@media only screen and (min-width: 760px) {

    /* Header */
    .header__content {
        grid-template-columns: 1fr .5fr 1fr;
        grid-auto-flow: dense;
        row-gap: unset;
    }

    /* Eliminando padding left de Logo y List Social*/
    .logo:first-of-type,
    .list--social:nth-of-type(1) {
        padding-left: 0;
    }

    /* Logo */
    .logo--desktop {
        grid-column: 2;
    }

    /* Nav menu */
    .header__nav--menu {
        display: none;
    }

    /* Nav desktop */
    .header__nav--desktop {
        display: block;
        grid-column: 1;
    }

    /* List desktop */
    .list--desktop {
        display: flex;
        gap: 1.5em;
    }

    /* List link desktop */
    .list__link--desktop {
        color: var(--gris-oscuro);
    }

    /* Social nav desktop */
    .header__nav--social-desktop {
        grid-column: 3;
    }

    /* Hero */
    .hero {
        background: linear-gradient(to bottom, rgba(50 50 50 / 0.2), rgba(100 100 100 / 0.2)), url(/assets/image/hero.png) center center / cover no-repeat;
        gap: 5em;
    }

    /* H1 de Hero */
    .hero__h1 {
        font-size: 2.5em;
    }

    /* IMG de Hero */
    .hero__img {
        max-width: 100px;
    }

    /* Contenedor textos de Nos especializamos */
    .nos-especializamos__texts {
        max-width: 600px;
    }

    /* IMG de Nos especializamos */
    .nos-especializamos__img {
        display: inline-block;
    }

    /* Grid container del Menú */
    .menu__grid-container {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 3em;
    }

    /* Producto de Menú*/
    .menu__producto {
        flex-direction: row;
        grid-column: 1 / -1;
    }

    /* Contenedor textos de Productos del Menú */
    .menu__producto-texts {
        max-width: 500px;
    }

    /* Párrafo del precio de Producto del Menú */
    .menu__p--precio {
        font-size: 1.5em;
    }

    /* Botón del Menú */
    .menu__boton {
        padding: .9em 3em;
    }

    /* Contenido del Footer */
    .footer__content {
        grid-template-columns: repeat(3, 1fr);
        padding-top: 2em;
    }

    /* Contenedor cualquier del Footer */
    .footer__container {
        margin: 0;
    }

    /* H3 Copyright de Footer */
    .footer__h3--copy {
        grid-column: 2 / -1;
        grid-row: 3;
        justify-self: end;
    }
}