* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Font */
    --font: 'Fredoka One', cursive;
    
    /* Colores */
    --blanco: #FBFBFF;
    --azul: #4FC1F3;
    --rosa: #FF6398;
    --gris-claro: #717B84;
    --gris-oscuro: #2e2e2e;

    scroll-behavior: smooth;
}

body {
    font-family: var(--font);
    background: var(--blanco);
    color: var(--gris-oscuro);
    min-width: 320px;
}

/* Container */
.container {
    max-width: 760px;
    margin: 0 auto;
}

/* Header */
.header {
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr .1fr;
    grid-auto-rows: max-content;
    place-items: start center;
    row-gap: .5em;
}

/* Logo */
.logo {
    display: inline-block;
    width: 50%;
}

.logo__img {
    width: 100%;
}

/* Nav del menu mobile */
.header__nav--menu {
    align-self: start;
}

/* Icono menu mobile */
.header__icon {
    position: absolute;
    z-index: 100;
}

/* Listas */
.list {
    display: none;
}

/* Lista de iconos de redes */
.list--social {
    display: flex;
    gap: 1em;
}

/* Modificador para mostrar el menu */
.list--menu {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5em;
    background: var(--gris-oscuro);
    transition: transform .3s ease;
    transform: translate(0, -100%);
}

.list--menu-show {
    transform: translate(0, 0);
}

.list__item {
    list-style: none;
}

.list__link {
    text-decoration: none;
    cursor: pointer;
}

/* Links del menu */
.list__link--menu {
    color: var(--blanco);
    text-transform: uppercase;
}

/* Span */
.span {
    color: var(--rosa);
}

/* Hero */

.hero {
    height: 100vh;
    background: linear-gradient(to bottom, rgba(79 193 243 / .2), rgba(255 99 152 / 0.2)), url(/assets/image/hero-mobile.png) center center / cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__h1 {
    font-size: 1.9em;
    color: var(--blanco);
    text-shadow: 2px 5px 10px rgb(0 0 0 / .5);
    letter-spacing: 1.5px;
    font-weight: 400;
}

.hero__h1::before {
    content: "Reunimos";
    animation: palabras 8s infinite ease-in;
}

/* Animaciones del h1 */
@keyframes palabras{
    0% {
        content: "Reunimos";
    }

    75% {
        content: "Delicia";
    }

    100% {
        content: "Somos la";
    }
}

.span--hero {
    text-shadow: none;
}

.span--hero::before {
    content: "sonrisas";
    animation: palabras2 8s infinite ease-in;
    padding-left: .5em
}

/* Animaciones del span del h1 */
@keyframes palabras2{
    0% {
        content: "sonrisas";
    }

    75% {
        content: "refrescante";
    }

    100% {
        content: "felicidad";
    }
}

/* Nos especializamos */
.nos-especializamos {
    margin: 1em 0;
    padding: 1.5em .5em;
    background: var(--rosa);
}

.nos-especializamos__img {
    display: none;
    width: 100%;
    border-radius: 30px;
}

.nos-especializamos__texts {
    text-align: center;
    color: var(--blanco);
}

.nos-especializamos__h2 {
    font-size: 1.9em;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: .5em;
}

.nos-especializamos__p {
    line-height: 1.5;
    font-size: 1em;
}